body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-grey{
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.dark-color {
  background-color: #111;
}

.dark-text {
  color: #111;
}

.bg-silver{
  background: #5d5d5d;
}

.text-grey{
  color: #9ba1a6;
}

.text-main{
  color: #FE8801;
}

.bg-main{
  background: #FE8801;
}
.text-main{
  color: #FE8801;
}

.border-main{
  border: 1px solid rgba(255, 255, 255, .1);
}

ul{
  padding: 0px;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.light-box {
  box-shadow: 70px 20px 237px 150px #FE8801;
}

ul li:hover .user{
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

ul li:hover .project{
  animation-name: mover;
  animation-duration: 1s;
  animation-direction: normal;
}

ul li:hover .about{
  animation: scaleInOut 1s ease-in-out;
}

ul li:hover .contact{
  animation: bounce 1s ease-in-out;
}

.touch-link{
  position: relative;
}

.touch-link::before{
  content: "";
  position: absolute;
  left: 0%;
  top: 105%;
  width:  0%;
  height: 2px;
  background-color: #FE8801;
  transition: width 0.5s;
}

.touch-link:hover.touch-link::before{
  width: 100%;
}



@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mover {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  51% { transform: translateY(-10); }
  100% { transform: translateY(0); }
}

@keyframes scaleInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.cv button:hover{
  color: #FE8801 !important;
}


.gradient-text {
  background: -webkit-linear-gradient(#ffffff, #f69b32);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



@media screen and (min-width:0px) and (max-width: 576px) {
  .container{
    width: 100% !important;
    padding: 0px !important;
  }
  .experience{
    padding: 0px !important;
  }
  .skills{
    width: 50% !important;
  }
  .margin-top-mobile{
    margin-top: 25px !important;
  }
  .w-mobile-100{
    width: 100% !important;
  }
  .p-mobile{
    padding: 10px !important;
  }
  .mobile-col-3{
    max-width: 25% !important;
    padding: 0 !important;
    text-align: center !important;
  }
  .mobile-evenly{
    justify-content: space-evenly !important;
  }
}



@media screen and (min-width:580px) and (max-width: 840px) {
  .container{
    width: 100% !important;
    padding: 0px !important;
  }
  .col-tablet-12{
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
    .experience{
    padding: 10px!important;
  }
  .col-tablet-8{
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
  }
  .mobile-col-3{
    max-width: 25% !important;
    padding: 0 !important;
    margin: 0px 20px;
    text-align: center !important;
  }
  
}